@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dialog {
    @apply backdrop-blur-md bg-base-300 text-base-content border-2 border-base-200 bg-opacity-80 shadow-xl rounded-box;
  }
}

@font-face {
  font-family: 'Futura';
  src:
    /* url('/fonts/futura-pt/FuturaCyrillicLight.woff'), */
    /* url('/fonts/futura-pt/FuturaCyrillicMedium.woff'), */
    /* url('/fonts/futura-pt/FuturaCyrillicDemi.woff'), */
    /* url('/fonts/futura-pt/FuturaCyrillicBook.woff'), */
    /* url('/fonts/futura-pt/FuturaCyrillicBold.woff'), */
    /* url('/fonts/futura-pt/FuturaCyrillicExtraBold.woff'), */ url('/fonts/futura-pt/FuturaCyrillicHeavy.woff');
}

@font-face {
  font-family: 'Proto';
  src: url('/fonts/proto/0xProtoNerdFont-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.react-aria-Popover[data-entering] {
  animation: slide 200ms;
}

.react-aria-Popover[data-exiting] {
  animation: slide 200ms reverse;
}

@keyframes slide {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

.react-aria-Input,
  .react-aria-TextArea {
    width: 100%;

    &[data-focused] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.react-aria-Menu {
  max-height: inherit;
  box-sizing: border-box;
  min-width: 150px;
}

.react-aria-MenuItem {
  forced-color-adjust: none;
}

.react-aria-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.react-aria-ResizableTableContainer {
  .react-aria-Row {
    &[data-pressed] {
      background: black;
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      --focus-ring-color: var(--highlight-foreground);

      &[data-focus-visible],
      .react-aria-Cell[data-focus-visible] {
        outline-offset: -4px;
      }
    }
  }
  .react-aria-Column,
  .react-aria-Cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
